.cta {
  width: max-content;
  display: inline-block;
  color: theme("colors.white");
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border: 1px solid theme("colors.primary");
  /* transition: var(--transition); */
  border-radius: 4px;
  background: transparent;
}

.cta:hover {
  background: theme("colors.white");
  color: theme("colors.bg");
  border-color: transparent;
}

.cta-primary {
  background: theme("colors.primary");
  color: theme("colors.bg");
}
